@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

table {
  @apply table table-zebra;
}

select {
  @apply select select-bordered w-full max-w-xs;
}
.App {
  text-align: center;
}
.hero-content {
  gap: 8rem;
}
.App-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: rgb(128, 33, 33);
}
.alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
